<div class="modal-header">
  <h4 class="modal-title">Nodes</h4>
  <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="list-group list-group-flush w-100">
    <div *ngFor="let item of persistentNodes"
         class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.name }}</h5>
        <ng-toggle (valueChange)="updateSelectedNode($event, item)" [value]="selected(item.id)"></ng-toggle>
      </div>
      <p class="mb-1">{{ item.hostname }}</p>
      <small>{{ item.location }}</small>
    </div>
  </div>

</div>

<div class="modal-footer justify-content-center">
  <button (click)="update()"
          class="btn btn-outline-dark" type="submit">Update
  </button>
</div>
