<div class="modal-header">
  <h4 class="modal-title">Output endpoint</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div [ngSwitch]="format" class="modal-body">
  <div class="form-row">

    <label class="col-sm-3 col-form-label" for="signallingUri">Signalling URI</label>
    <div *ngSwitchCase="streamFormat.WebRTC" class="input-group">

      <input [value]="getWebRTCConnection().signallingUri"
             aria-describedby="basic-addon2" class="form-control" id="signallingUri" type="text">
      <div class="input-group-append">
        <button (click)="copy(getWebRTCConnection().signallingUri)" class="btn input-group-text">
          <i aria-hidden="true" class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>

    <div *ngSwitchDefault class="input-group">
      <input [value]="getHttpConnection().uri"
             aria-describedby="basic-addon2" class="form-control" type="text">
      <div class="input-group-append">
        <button (click)="copy(getHttpConnection().uri)" class="btn input-group-text">
          <i aria-hidden="true" class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>

  </div>

  <div *ngIf="endpoint && endpoint.viewer && endpoint.viewer.accessToken" class="form-row">
    <label class="col-sm-3 col-form-label" for="accessToken">Token</label>
    <div class="input-group">
      <input [value]="endpoint.viewer.accessToken"
             aria-describedby="basic-addon2" class="form-control" id="accessToken" type="text">
      <div class="input-group-append">
        <button (click)="copy(endpoint.viewer.accessToken)" class="btn input-group-text">
          <i aria-hidden="true" class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
</div>
