<div class="modal-header">
  <h4 class="modal-title">Viewer</h4>
  <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-row">
    <div class="form-group col">
      <select [(ngModel)]="format" class="form-control" id="format" name="format">
        <option [ngValue]="streamFormat.RTMP">RTMP</option>
        <option [ngValue]="streamFormat.WebRTC">WebRTC</option>
        <option [ngValue]="streamFormat.HLS">HLS</option>
        <option [ngValue]="streamFormat.DASH">DASH</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="ipAddress">IP address</label>
      <input [(ngModel)]="ipAddress"
             class="form-control" id="ipAddress" name="ipAddress" placeholder="127.0.0.1" type="text">
    </div>
    <div class="form-group col">
      <label for="latitude">Latitude</label>
      <input [(ngModel)]="latitude"
             class="form-control" id="latitude" name="latitude" placeholder="52.3639219" type="number">
    </div>
    <div class="form-group col">
      <label for="longitude">Longitude</label>
      <input [(ngModel)]="longitude"
             class="form-control" id="longitude" name="longitude" placeholder="4.8439003" type="number">
    </div>
  </div>

  <div *ngIf="access === accessMode.Private" class="form-row">
    <div class="form-group col">
      <label for="accessToken">ID</label>
      <input [(ngModel)]="accessToken"
             class="form-control" id="accessToken" name="accessToken" placeholder="viewer access token (blank - generated)"
             type="text">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button (click)="activeModal.close(getOutput())" class="btn btn-outline-dark" type="button">Create</button>
</div>
