<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div *ngIf="group" class="d-inline">
    <span class="navbar-brand mb-0 mr-4 h1 font-weight-bold">{{ group.assignment }}</span>
    <span class="navbar-brand mb-0 h2 ">{{ '\'' + group.name + '\'' }}</span>
    <span *ngIf="(owner | async)" class="navbar-brand mb-0 ">{{ 'owner: \'' + (owner | async)?.username + '\'' }}</span>
  </div>

  <div>
    <div>
      <button (click)="editGroup()" class="btn btn-light" type="button">
        <i class="fa fa-edit"></i>
      </button>
    </div>
  </div>
</nav>

<div *ngIf="group" class="mt-3">
  <div class="row mt-3">
    <div class="col-lg mt-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <span class="h5 pr-2">Settings</span>
        </div>
        <div class="card-body">
          <div>
            <span>Scaling </span>
            <ng-toggle (valueChange)="updateGroupScalable($event)" [value]="group.scalable"
                       offText="Disabled" onText="Enabled"></ng-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-lg mt-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <span class="h5">Scaling</span>
          <button (click)="appendScalingRule()" class="btn btn-primary btn-sm" type="button">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush w-100">
            <div *ngFor="let rule of group.scalingRules; trackBy: trackByRule"
                 class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <div class="pr-3">
                  <ng-toggle (valueChange)="updateScalingRuleEnablement($event, rule)"
                             [value]="rule.enabled"></ng-toggle>
                </div>
                <div (click)="editScalingRule(rule)" class="flex-grow-1">
                  <div>
                    <span class="mb-1">{{ getUserFriendlyScalingRuleCondition(rule) }}</span>
                  </div>
                  <div>
                    <samp class="mb-1">{{ getUserFriendlyScalingRuleAction(rule) }}</samp>
                  </div>
                </div>
                <div>
                  <button (click)="removeScalingRule(rule)" class="btn btn-sm btn-danger" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
              <p class="mb-1"></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg mt-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <span class="h5">Nodes</span>

          <div #myDrop="ngbDropdown" class="d-inline-block" ngbDropdown>
            <button (focus)="myDrop.open()" class="btn btn-outline-primary mr-2" id="nodeActionDropDown" ngbDropdownAnchor>Actions</button>
            <div aria-labelledby="nodeActionDropDown" ngbDropdownMenu>
              <button (click)="updatePersistentNodes()" ngbDropdownItem>Persistent nodes</button>
              <button (click)="allocateNode()" ngbDropdownItem>Allocate node</button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div *ngFor="let type of groupResourceTypesViewOrder()">
            <div class="align-content-center">
              <p class="h6 text-center">{{ type }}</p>
            </div>
            <div class="list-group list-group-flush w-100">
              <div *ngFor="let item of getGroupResources(type); trackBy: trackByGroupResource"
                   class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ item.node.name }}</h5>
                  <div>
                    <small [class.badge-danger]="!item.node.opened"
                           [class.badge-success]="item.node.opened"
                           class="badge badge-success mr-1">Opened</small>
                    <small [class.badge-danger]="!item.node.enabled"
                           [class.badge-success]="item.node.enabled"
                           class="badge badge-success">Enabled</small>
                  </div>
                </div>
                <p class="mb-1">{{ item.node.hostname }}</p>
                <small>{{ item.node.location }}</small>
              </div>
            </div>

            <p class="mb-4"></p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
