<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <button type="button" class="btn btn-danger btn-circle"
          [disabled]="!viewing" (click)="delete()">
    <i class="fa fa-trash"></i>
  </button>
</nav>

<form class="mt-4" novalidate #form="ngForm" (submit)="save(form)">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control"
           [readonly]="viewing" [(ngModel)]="node.name"/>
  </div>

  <div class="form-group">
    <label for="protocol">Protocol</label>
    <select id="protocol" name="protocol" class="form-control"
            [disabled]="viewing" [(ngModel)]="node.connection.protocol">
      <option [ngValue]="'http'">HTTP</option>
      <option [ngValue]="'https'">HTTPS</option>
    </select>
  </div>

  <div class="form-group">
    <label for="hostname">Hostname</label>
    <input id="hostname" name="hostname" type="text" class="form-control"
           [readonly]="viewing" [(ngModel)]="node.connection.hostname"/>
  </div>

  <div class="form-group">
    <label for="port">Port</label>
    <input id="port" name="port" type="number" min="0" class="form-control"
           [readonly]="viewing" [(ngModel)]="node.connection.port"/>
  </div>

  <div class="container">
    <button type="submit" class="btn btn-primary" [disabled]="viewing">{{ viewing ? "Save" : "Create"}}</button>
    <button routerLink="/nodes" class="btn btn-light float-right">Cancel</button>
  </div>
</form>
