<div class="modal-header">
  <h4 class="modal-title">New Input</h4>
  <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-row">
    <div class="form-group col">
      <select [(ngModel)]="format" class="form-control" id="format" name="format">
        <option [ngValue]="streamFormat.RTMP">RTMP</option>
        <option [ngValue]="streamFormat.WebRTC">WebRTC</option>
      </select>
    </div>

    <div class="form-group col">
      <select [(ngModel)]="output" class="form-control" id="output" name="output">
        <option [ngValue]="outputMode.Passthrough">Passthrough</option>
        <option [ngValue]="outputMode.Overlay">Overlay</option>
        <option [ngValue]="outputMode.Transcode">Transcode</option>
      </select>
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-auto">
      <fieldset class="form-group">
        <label>Logo</label>
        <div class="custom-file logo-input-wrap">
          <input (change)="logoChangeEvent($event)" [disabled]="output != outputMode.Overlay"
                 class="logo-input" type="file">
          <div class="img-space">
            <ng-container *ngIf="logoImageBase64; else elseTemplate">
              <img [src]="logoImageBase64" alt="Logo"/>
            </ng-container>
            <ng-template #elseTemplate>
              <i class="far fa-image fa-4x"></i>
            </ng-template>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group col">
      <div class=" ">
        <label for="offset_x">Offset X</label>
        <input [(ngModel)]="offsetX" [disabled]="output != outputMode.Overlay"
               class="form-control" id="offset_x" name="offset_x" placeholder="0" type="number">
      </div>
    </div>
    <div class="form-group col">
      <div class="">
        <label for="offset_y">Offset Y</label>
        <input [(ngModel)]="offsetY" [disabled]="output != outputMode.Overlay"
               class="form-control" id="offset_y" name="offset_y" placeholder="0" type="number">
      </div>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="ipAddress">IP address</label>
      <input [(ngModel)]="ipAddress"
             class="form-control" id="ipAddress" name="ipAddress" placeholder="127.0.0.1" type="text">
    </div>
    <div class="form-group col">
      <label for="latitude">Latitude</label>
      <input [(ngModel)]="latitude"
             class="form-control" id="latitude" name="latitude" placeholder="52.3639219" type="number">
    </div>
    <div class="form-group col">
      <label for="longitude">Longitude</label>
      <input [(ngModel)]="longitude"
             class="form-control" id="longitude" name="longitude" placeholder="4.8439003" type="number">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="callbackUri">Callback URI</label>
      <input [(ngModel)]="callbackUri" class="form-control" id="callbackUri" name="callbackUri"
             placeholder="http://myservice.com/notifications" type="text">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="access">AccessMode</label>
      <select [(ngModel)]="access" class="form-control" id="access"
              name="access">
        <option [ngValue]="accessMode.Public">Public</option>
        <option [ngValue]="accessMode.Private">Private</option>
      </select>
    </div>
  </div>

  <div *ngIf="access === accessMode.Private" class="form-row">
    <div class="form-group col">
      <label for="accessToken">ID</label>
      <input [(ngModel)]="accessToken"
             class="form-control" id="accessToken" name="accessToken" placeholder="access token (blank - generated)"
             type="text">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button (click)="activeModal.close(getInput())" [disabled]="(output === outputMode.Overlay) && !this.logoImageBase64"
          class="btn btn-outline-dark" type="button">Create
  </button>
</div>
