<div class="modal-header">
  <h4 class="modal-title">New Account</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">

    <div class="form-row">
      <div class="form-group col">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" class="form-control" placeholder="vasya">
      </div>

      <div class="form-group col">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="text" class="form-control" placeholder="vasya">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <select formControlName="role" class="form-control">
          <option [ngValue]="role.ADMIN">ADMIN</option>
          <option [ngValue]="role.USER">USER</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark"
              [disabled]="!form.valid">Create
      </button>
    </div>
  </div>
</form>
