<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <button class="btn btn-danger" type="button" (click)="createNewGroup()">
    <i class="fa fa-plus"></i>
  </button>
</nav>

<div class="row mt-1 mr-1 ml-1">
  <div class="list-group list-group-flush w-100">
    <div *ngFor="let group of groups | async"
         class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ group.name }}</h5>
        <small class="text-muted"></small>
      </div>
      <p class="mb-1"></p>
    </div>
  </div>
</div>
